{% extends 'game/base.html' %}

{% block content%}

<h1> Войдите или <a href="{% url 'users:registration' %}">Зарегистрируйтесь</a>, чтобы начать. </h1>
<h3>Регистрация займет всего 30 секунд, от вас не требуется почта или телефон, только придумать 8-значные логин и пароль</h3>

<form action="#" method = 'post'>
    {% csrf_token %}
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit" value="submit" > Отправить </button>


</form>

<div>
    {% if messages %}
        {% for m in messages %}
            {{ m }}
        {% endfor %}


    {% endif %}
</div>
{% endblock %}