{% extends 'game/base.html' %}

{% block content%}

<h1> Игра быки-коровы</h1>

{% if new_game %}
{{new_game}}
 {% endif%}
<h3>Введите четырехзначное число с неповторяющимися цифрами</h3>
<div>
<p> <form action="" method = 'post'>
    {% csrf_token %}
    <input type="text" name="value">
    <button type="submit"> Отправить число </button>

</form>


</p>
<p>
{% if warning %}
{{warning}}
{% endif%}
<p> {% if list_of_tries %}
    <ul>
    {% for l in list_of_tries %}
        <li>   {{l}}    </li>
    {% endfor%}

    </ul>
    {% endif%}</p>
<p>
    {% if answer %}
    {{answer}}
    {% endif%}</p>


<form action="" method = 'post'>
    {% csrf_token %}

    <button type="submit" name="value" value="give up"> Сдаться </button>

</form>
    <form action="" method = 'post'>
    {% csrf_token %}

    <button type="submit" name="value" value="new game"> Новая игра </button>

</form>
    </div>

<div >
<h3><p> Правила игры:</p>
<p style="width:1000px;">
Вычислите, какое число загадал компьютер. После каждой попытки вы увидите две цифры: первое - сколько цифр в загаданном числе вы угадали,
второе - сколько из них при этом находятся на своем месте.</p>
   <p> 1:0 означает, что вы угадали только 1 цифру, но она стоит не на своем месте.
Ответ 4:4 означает, что вы угадали число.</p> </h3>
</div>
{% endblock %}